.bx-filter.bx-blue .bx-filter-section {
	background: #edf6fc;
}
/*
* INPUTS
*
*/
.bx-filter.bx-blue .bx-filter-input-container input:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter.bx-blue .bx-filter-input-container input:focus {
	-webkit-border-image: url("") 2 repeat;
	-moz-border-image: url("") 2 repeat;
	-o-border-image: url("") 2 repeat;
	border-image: url("") 2 repeat;
}
/*
*Track
*
*/
.bx-filter.bx-blue .bx-ui-slider-track{background: #e7e7e7;}
.bx-filter.bx-blue .bx-ui-slider-pricebar-vd{background: #849da4;}
.bx-filter.bx-blue .bx-ui-slider-pricebar-vn{background: #a8dff3;}
.bx-filter.bx-blue .bx-ui-slider-pricebar-v {background: #499fd8;}

.bx-filter.bx-blue .bx-ui-slider-handle.left {
	background: url("54f8ada150f050533b81b09264c6290bdd124d6c.png") no-repeat right top;
}
.bx-filter.bx-blue .bx-ui-slider-handle.right {
	background: url("6756269c7a45a43888f259344259c980f43f7e67.png") no-repeat left top;
}
/*
*	Select
*
*/
.bx-filter.bx-blue .bx-filter-select-container.bx-active,
.bx-filter.bx-blue .bx-filter-select-container:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter.bx-blue .bx-filter-select-container.bx-active,
.bx-retina .bx-filter.bx-blue .bx-filter-select-container:focus {
	-webkit-border-image: url("") 2 repeat;
	-moz-border-image: url("") 2 repeat;
	-o-border-image: url("") 2 repeat;
	border-image: url("") 2 repeat;
}
/*
*	Select popup
*
*/
/*
* TAGS
*
*/
.bx-filter.bx-blue .bx-filter-tag {
	border-top: 1px solid #d7eaf7;
	border-bottom: 1px solid #d7eaf7;
}
.bx-filter.bx-blue .bx-tag-link {
	color: #68939e;
}
/*
*	LABEL
*
*/
/*
*	Checkbox / Radio 
*
*/
/*
* 	BTN 
*
*/
.bx-filter.bx-blue .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter.bx-blue .bx-filter-param-btn:hover,
.bx-filter.bx-blue .bx-filter-param-btn:active,
.bx-filter.bx-blue .bx-filter-param-btn:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter.bx-blue .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-retina .bx-filter.bx-blue .bx-filter-param-btn:hover,
.bx-retina .bx-filter.bx-blue .bx-filter-param-btn:active,
.bx-retina .bx-filter.bx-blue .bx-filter-select-container:focus {
	-webkit-border-image: url("") 2 repeat;
	-moz-border-image: url("") 2 repeat;
	-o-border-image: url("") 2 repeat;
	border-image: url("") 2 repeat;
}
/*
* BTN P/M
*
*/
/*
*	icon
*
*/
/*
* 	BIZ
*
*/
/*
*	BTN result and reset 
*
*/

.bx-filter.bx-blue .btn-themes {
	background-color: #1485CE;
	border-color: #1485CE;
	color: #FFF
}
.bx-filter.bx-blue .btn-themes.bx-active,
.bx-filter.bx-blue .btn-themes.focus,
.bx-filter.bx-blue .btn-themes:active,
.bx-filter.bx-blue .btn-themes:focus,
.bx-filter.bx-blue .btn-themes:hover{
	background-color: #53A4D8;
	border-color: #53A4D8;
	color: #FFF
}
/*
* 	Result Popup
*
*/